.close{
    position: absolute;
    right: 32px;
    z-index: 4;
    
}
.close:hover{
    background-color: #fa8072;
    border-radius: 8px;
}
p{
    position: absolute;
    left: 190px;
    top: 23px;
}
.fadeOut{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s,opacity 2s linear;
}
