<div class="navbar">
    <div class="site-name">
        <h2>{{title}}</h2>
    </div>
    <div class="site-menu">
        <a  [routerLink]="'home'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">HOME</a >
        <a  [routerLink]="'about'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">ABOUT</a>
        <a  [routerLink]="'contact'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">LOGIN</a>
        <a  [routerLink]="'home'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">CONTACT</a>
        <a  [routerLink]="'demo'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">PRODUCTS</a>
    </div>
</div>
