.search-div{
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 15px;
    border-radius: 5px;
}
input[type=text]{
    width: 240px;
    height: 30px;
    margin-left: 20px;
    border: none;
}
.changingBg{
    background-color: #fad7a0;
}